.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: white;
  color: #1a1a1a;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
